*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-page);
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  
}

input,
select,
textarea,
button {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}